<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SandboxUrl" value="http://partnerapi.sandbox.uat.hq.judo/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LiveUrl" value="https://partnerapi.uat.hq.judo/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>