<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SandboxUrl" value="http://partnerapi.sandbox.uat.hq.judo/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LiveUrl" value="https://partnerapi.uat.hq.judo/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WebpaymentsUrl" value="https://pay.uat.hq.judo/v1/Pay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="JudoId" value="100915867" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Token" value="Izx9omsBR15LatAl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Secret" value="b5787124845533d8e68d12a586fa3713871b876b528600ebfdc037afec880cd6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ElevatedPrivilegesToken" value="90GEiHrgjEuHnbAt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ElevatedPrivilegesSecret" value="cc9274f05a6e558f4ed8be5ad0429f7edbb05a594d56f851c2b8a53fedfce3d9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>






