<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiVersion" value="5.4.0.0" />
    <add key="SandboxUrl" value="https://gw1.judopay-sandbox.com/" />
    <add key="LiveUrl" value="https://gw1.judopay.com/" />
    <add key="WebpaymentsUrl" value="https://pay.judopay-sandbox.com/v1/Pay" />
    <add key="JudoId" value="100915867" />
    <add key="Token" value="Izx9omsBR15LatAl" />
    <add key="Secret" value="b5787124845533d8e68d12a586fa3713871b876b528600ebfdc037afec880cd6" />
    <add key="ElevatedPrivilegesToken" value="90GEiHrgjEuHnbAt" />
    <add key="ElevatedPrivilegesSecret" value="cc9274f05a6e558f4ed8be5ad0429f7edbb05a594d56f851c2b8a53fedfce3d9" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
