<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiVersion" value="5.2.0" />
    <add key="SandboxUrl" value="https://gw1.judopay-sandbox.com/" />
    <add key="LiveUrl" value="https://gw1.judopay.com/" />
    <add key="WebpaymentsUrl" value="https://pay.judopay.com/v1/Pay" />
    <add key="JudoId" value="100915867" />
    <add key="Token" value="MzEtkQK1bHi8v8qy" />
    <add key="Secret" value="c158b4997dfc7595a149a20852f7af2ea2e70bd2df794b8bdbc019cc5f799aa1" />
    <add key="ElevatedPrivilegesToken" value="WRz3f5fKr6ZeMcRc" />
    <add key="ElevatedPrivilegesSecret" value="856c8a0f9c8093c32c5572c275cdfb6480a2528bf3b2292b5c702469dea4ea72" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
